*{
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: #40513B;
}
#main{
    display:flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    
}
#timer{
    height:10vh;
    border:2px solid grey;
    background-color: #9DC08B;
}
#ques{
    height:30vh;
    border:2px solid grey;
    padding-top: 64px;
    padding-left: 40px;
    background-color: #609966;

}
.option{
    display:flex;
    flex-direction: row;
    height:20vh;
    /* border:2px solid grey; */
    justify-content: center;
    align-items: center;
    margin: 10px;
   

    
}
.opt{
    border:2px solid grey;
    text-align: center;
    width:40%;
    height:20vh;
    border-radius: 5%;
    margin: 10px;
    padding-top: 55px;
    background-color: #EDF1D6;
   
}
#bottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn{
    width:10vw;
    text-align: center;
    /* border:2px solid grey; */
    background-color: rgb(123, 143, 161);
   
}

#prev{
    margin-left: 20px;
}

#next{
    margin-right: 20px;
}